.home-section-slider {
  position: relative;
  padding-top: 40px;
  background-color: white;
  transition: background-color 4s;
}
.slider-picture-container {
  margin-top: 24px;
  width: 1515px;
  height: 637px;
  background-color: black;
}
.slider-picture-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0px -20px;
  opacity: 0.5;
}
.slider-text-container {
  position: absolute;
  width: 420px;
  top: 245px;
  left: 961px;
  color: white;
  transition: color 1s;
}
.slider-text-head {
  font-size: puma;
  font-size: 40px;
  margin-bottom: 10px;
}
.text-bold {
  font-family: pumabold;
}
.slider-text-subhead {
  font-size: 16px;
  font-family: pumabold;
  line-height: 24px;
  margin-bottom: 12px;
}
.slider-text-body {
  font-size: 18px;
  font-family: puma;
  line-height: 27px;
  margin-bottom: 30px;
}
.slider-text-final {
  font-size: 14.6px;
  font-family: pumabold;
}
.slider-buttons {
  display: flex;
  margin-top: 20px;
}
.slider-appstore-button {
  display: grid;
  grid-template-columns: 30px 1fr;

  height: 40px;
  width: 122px;

  border: none;
  background-color: black;
  font-family: puma;
  color: white;

  margin-right: 15px;
}
.appstore-logo {
  margin-top: 5px;
  width: 26px;
}
.slider-appstore-button p {
  margin-top: 2px;
  text-align: left;
  font-size: 9px;
  line-height: 15px;
}
.slider-appstore-button span {
  font-size: 17px;
}
.slider-playstore-button {
  display: grid;
  grid-template-columns: 30px 1fr;

  height: 40px;
  width: 136px;

  border: none;
  background-color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  color: white;
}
.playstore-logo {
  margin-top: 2px;
  width: 32px;
}
.slider-playstore-button p {
  text-align: left;
  font-weight: 100;
  font-size: 9px;
  line-height: 15px;
  margin-left: 5px;
}

.slider-playstore-button span {
  font-size: 16px;
}
