.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
.login-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 145px;
  width: 1344px;
  border-radius: 4px;
  cursor: pointer;
}
.login-block div {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-block span {
  font-family: pumabold;
}
.login-block button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: pumabold;
  display: flex;
  align-items: center;

  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid white;

  transition: background-color 0.15s, color 0.15s;
}
.login-block button:hover {
  background-color: black;
  color: white;
}
.login-block button:hover img {
  filter: invert(1);
}
.login-block img {
  width: 25px;
  padding-left: 5px;
  transition: filter 0.15;
}
.community-section {
  font-family: gesta;
  margin-top: 80px;
}
.community-body {
  text-align: center;
  line-height: 30px;
}
.community-head {
  font-size: 27px;
  color: rgb(50, 58, 69);
}
.community-mention {
  margin-top: 4px;
  font-size: 18px;
  color: rgb(77, 88, 102);
}
.instagram-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.camera-icon {
  width: 25px;
}
.instagram-add p {
  margin-left: 7px;
  padding-top: 2px;
  font-size: 14px;
  color: rgb(50, 58, 69);
}
.instagram-slider {
  margin-top: 10px;
  display: flex;
  column-gap: 20px;
  width: 1255px;
  height: 250px;
}
.instagram-photos-container {
  height: 250px;
  width: 250px;
}
.instagram-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.download-section {
  color: white;
  display: flex;
  width: 1343px;
  height: 262px;
  column-gap: 12px;
  margin-top: 90px;
}
.download-block {
  flex: 1;
  background-color: black;
  position: relative;
}
.download-block-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.download-block-img {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 138px;

  object-fit: contain;
}
.download-block-text {
  position: absolute;
  top: 60px;
  left: 240px;
  width: 350px;
  font-size: 24px;
  font-family: pumabold;
}
.download-block-text p {
  font-family: puma;
  font-size: 16px;
  margin-top: 3px;
  line-height: 24px;
}
.slider-button-2 {
  position: absolute;
  top: 135px;
  right: 150px;
  display: flex;
  margin-top: 20px;
}
.shop-block {
  flex: 1;
  position: relative;
}
.shop-block-background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    transparent 70%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.shop-block-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop-block-text {
  position: absolute;
  top: 45px;
  right: 30px;

  font-size: 24px;
  font-family: pumabold;
  text-align: right;
  width: 200px;

  z-index: 20;
}
.shop-block-text p {
  font-family: puma;
  font-size: 16px;
  margin-top: 3px;
  line-height: 24px;
}
.shop-button {
  position: absolute;
  top: 140px;
  right: 30px;

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: pumabold;
  display: flex;
  align-items: center;

  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid white;

  z-index: 20;
}
.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 140px;
  margin-left: 81px;
  margin-right: 510px;
  margin-bottom: 42px;

  font-size: 14px;
  font-family: pumabold;
}
.footer p {
  font-family: puma;
}
